body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 255, 255);
}

code {
  font-family: 'Gilbert Color',
    monospace;
}

.code {
  margin: 0 0.6rem;
  padding: 0.3rem 0.5rem 0.1rem 0.5rem;
  background: rgb(26, 80, 255);
  border-radius: 0.9rem;
}

.container-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect  stroke='%23ffffff' stroke-width='0.1' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(45.85) translate(-978.19 -733.64)'%3E%3Cuse  fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse  fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse  fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse  fill='%23fafafa' href='%23s'/%3E%3Cuse  fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse  fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(45.85) translate(-978.19 -733.64)'%3E%3Cg  fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(45.85) translate(-978.19 -733.64)'%3E%3Cg  fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(45.85) translate(-978.19 -733.64)'%3E%3Cg  fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(45.85) translate(-978.19 -733.64)'%3E%3Cg  fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg  fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(45.85) translate(-978.19 -733.64)'%3E%3Cg  fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(45.85) translate(-978.19 -733.64)'%3E%3Cg  fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(45.85) translate(-978.19 -733.64)'%3E%3Cg  fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
}

.icon {
  color: white;
}

.hook {
  display: flex;
  justify-content: center;
  font-family: 'Gilbert';
  width: 100%;
}

.linkdrop {
  background: transparent;
  display: flex;
  justify-content: center;
}

.url {
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  border-width: 0.1rem 0rem 0.1rem 0.1rem;
  border-color: lightpink;
  border-style: solid;
  margin: 0;
  padding-left: 1rem;
  width: 45rem;
  height: 2.5rem;
  font-family: 'Noto Mono for Powerline' monospace;
}

.url[readonly] {
  border-style: dotted;
  cursor: not-allowed;
}

.url:focus {
  outline: 3px solid transparent;
}

.cut {
  margin: 0rem;
  height: 2.8rem;
  border-width: 0.2rem 0rem 0.2rem 0.2rem;
  border-color: rgb(1, 21, 49);;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  background: rgb(1, 21, 49);
  transform: rotate(180deg);
}

.cut:active {
  background: black;
  border-color: black;
}

.link {
  color: rgb(254, 205, 46);
  margin: 0 1rem 0 1rem;
}

.hint-box {
  display: flex;
  justify-content: center;
  font-family: 'Lato Black';
  font-size: 0.8rem;
  color: rgba(180, 180, 180, 1);
}

.hint {
  margin: 1rem 5rem 1rem 0;
}

.clear {
  margin: 0 0 0 21.5rem;
  background: transparent;
  border-width: 0rem;
  color: black;
}

.clear:hover {
  color: blue;
}

.list {
  margin: 0 0 0 11rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cell {
  display: flex;
  width: 80%;
  margin: 0 0 0.5rem 0;
}

.urls {
  width: 45%;
  padding:  0 0 0 1rem;
  border-width: 0.2rem;
  border-color: rgb(1, 21, 49);;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  text-align: left;
  border-radius: 0.3rem 0 0 0.3rem;
  background: rgb(1, 21, 49);
  color: rgb(254, 205, 46);
}

.readonly {
  display: inline-block;
  padding: 1rem 1rem 0 0;
  background: white;
  color: gray;
  border-width: 0;
  text-align: right;
  cursor: not-allowed;
}

.shortened {
  display: flex;
  width: 33%;
  flex-direction: column;
  background: white;
}

.copy {
  border-width: 0rem;
  text-align: center;
  font-size: 1rem;
  width: 20%;
  align-self: end;
  font-size: 0.7rem;
  margin: 0.4rem 0.8rem 1rem 0;
  background: white;
}

.copy:before {
  content: "\f0c5";
  font-family: FontAwesome;
}

.copy:hover {
  color: blue;
}

.copy:active {
  background: rgba(220, 220, 220, 0.4);
}

.error {
  background: rgba(220, 220, 220, 0.4);
  padding: 1rem;
  position: absolute;
  border-radius: 0.5rem;
  top: 1rem;
  right: 1rem;
  color: coral;
  font-family: 'Lato';
  font-size: 0.8rem;
}

.success {
  background: rgba(220, 220, 220, 0.4);
  padding: 1rem;
  position: absolute;
  border-radius: 0.5rem;
  top: 1rem;
  right: 1rem;
  color: limegreen;
  font-family: 'Lato';
  font-size: 0.8rem;
}

.remove {
  padding: 0.9rem 1rem;
  background: coral;
  color: white;
  border-width: 0;
  border-radius: 0 0.3rem 0.3rem 0;
}

.remove:before {
  content: "\f1f8";  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
}